.url-source {
    margin: 20px 0;
}

.url-source__header {
    margin: 0 0 20px 0;
}

.url-source__form {
    display: flex;
}

.url-source__input {
    width: 80%;
    padding: 20px;
}

.url-source__submit {
    width: 20%;
    padding: 10px 0;
}